<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.MessageMapper">
  <resultMap id="BaseResultMap" type="entity.Message">
    <id column="messageId" jdbcType="INTEGER" property="messageId" />
    <result column="sendTime" jdbcType="TIMESTAMP" property="sendTime" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="teamId" jdbcType="INTEGER" property="teamId" />
    <result column="fromUser" jdbcType="VARCHAR" property="fromUser" />
    <result column="toUser" jdbcType="VARCHAR" property="toUser" />
    <result column="hasRead" jdbcType="INTEGER" property="hasRead" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    messageId, sendTime, content, teamId, fromUser, toUser, hasRead
  </sql>
  <select id="selectByExample" parameterType="entity.MessageExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from message
    where messageId = #{messageId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from message
    where messageId = #{messageId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="entity.MessageExample">
    delete from message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="entity.Message">
    insert into message (messageId, sendTime, content, 
      teamId, fromUser, toUser, 
      hasRead)
    values (#{messageId,jdbcType=INTEGER}, #{sendTime,jdbcType=TIMESTAMP}, #{content,jdbcType=VARCHAR}, 
      #{teamId,jdbcType=INTEGER}, #{fromUser,jdbcType=VARCHAR}, #{toUser,jdbcType=VARCHAR}, 
      #{hasRead,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="entity.Message">
    insert into message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="messageId != null">
        messageId,
      </if>
      <if test="sendTime != null">
        sendTime,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="teamId != null">
        teamId,
      </if>
      <if test="fromUser != null">
        fromUser,
      </if>
      <if test="toUser != null">
        toUser,
      </if>
      <if test="hasRead != null">
        hasRead,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="messageId != null">
        #{messageId,jdbcType=INTEGER},
      </if>
      <if test="sendTime != null">
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="teamId != null">
        #{teamId,jdbcType=INTEGER},
      </if>
      <if test="fromUser != null">
        #{fromUser,jdbcType=VARCHAR},
      </if>
      <if test="toUser != null">
        #{toUser,jdbcType=VARCHAR},
      </if>
      <if test="hasRead != null">
        #{hasRead,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="entity.MessageExample" resultType="java.lang.Long">
    select count(*) from message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update message
    <set>
      <if test="record.messageId != null">
        messageId = #{record.messageId,jdbcType=INTEGER},
      </if>
      <if test="record.sendTime != null">
        sendTime = #{record.sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.teamId != null">
        teamId = #{record.teamId,jdbcType=INTEGER},
      </if>
      <if test="record.fromUser != null">
        fromUser = #{record.fromUser,jdbcType=VARCHAR},
      </if>
      <if test="record.toUser != null">
        toUser = #{record.toUser,jdbcType=VARCHAR},
      </if>
      <if test="record.hasRead != null">
        hasRead = #{record.hasRead,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update message
    set messageId = #{record.messageId,jdbcType=INTEGER},
      sendTime = #{record.sendTime,jdbcType=TIMESTAMP},
      content = #{record.content,jdbcType=VARCHAR},
      teamId = #{record.teamId,jdbcType=INTEGER},
      fromUser = #{record.fromUser,jdbcType=VARCHAR},
      toUser = #{record.toUser,jdbcType=VARCHAR},
      hasRead = #{record.hasRead,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="entity.Message">
    update message
    <set>
      <if test="sendTime != null">
        sendTime = #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="teamId != null">
        teamId = #{teamId,jdbcType=INTEGER},
      </if>
      <if test="fromUser != null">
        fromUser = #{fromUser,jdbcType=VARCHAR},
      </if>
      <if test="toUser != null">
        toUser = #{toUser,jdbcType=VARCHAR},
      </if>
      <if test="hasRead != null">
        hasRead = #{hasRead,jdbcType=INTEGER},
      </if>
    </set>
    where messageId = #{messageId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.Message">
    update message
    set sendTime = #{sendTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=VARCHAR},
      teamId = #{teamId,jdbcType=INTEGER},
      fromUser = #{fromUser,jdbcType=VARCHAR},
      toUser = #{toUser,jdbcType=VARCHAR},
      hasRead = #{hasRead,jdbcType=INTEGER}
    where messageId = #{messageId,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="entity.MessageExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <cache />
</mapper>